{
    "arrowParens": "always",
    "bracketSpacing": true,
    "endOfLine": "lf",
    "quoteProps": "consistent",
    "semi": false,
    "singleQuote": true,
    "tabWidth": 4,
    "printWidth": 200,
    "useTabs": true,
    "trailingComma": "all"
}
